/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* 

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -50deg,
    rgb(26, 27, 26) 50%,
    rgb(0, 106, 255) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
} */
/* 
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  margin-bottom: 30px;
}
*/
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.share {
  padding: 1px;
  margin-top: 0px;
  vertical-align: center;
  background: #f44336;
  width: 120px;
  height: 45px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -1;
}

.share:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/*  New Code  */

.App {
  justify-content: center;
}

html {
  height: 100%;
}
.App {
  padding: 0px 0px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  padding: 0;
}

.logo img {
  width: 80px;
  height: 80px;
  margin-left: 80px;
  margin-top: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  text-align: center;
  align-items: center;
}

ul li {
  width: 80px;
  height: 30px;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  list-style: none;
  margin-right: 30px;
  margin-top: 5px;
}

.AccountAddress {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30px;
  align-items: center;
}

.AccountAddress p {
  font-size: 1.1rem;
  font-weight: 500;
}

.AccountAddress img {
  width: 18px;
  height: 18px;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  font-size: 1.1rem;
  width: 130px;
  height: 40px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.signup {
  color: white;
  background-color: #1d4ed8;
  margin-right: 30px;
}

.signin {
  color: #1d4ed8;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #1d4ed8;
}

button:hover {
  color: white;
  box-shadow: 0 0 20px #1d4fd8b8;
  background-color: #1d4ed8;
}

.mainbody {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.leftody {
  width: 50%;
  height: 500px;
  padding-left: 20px;
}
.rightbody img {
  width: 550px;
  height: 550px;
}

.leftody h1 {
  font-size: 3.5rem;
  margin-top: 100px;
}
.leftody span {
  color: #3fa099;
}

.leftody h3 {
  color: rgba(0, 0, 0, 0.608);
  margin-top: 20px;
}

.bodybutton {
  color: white;
  background-color: #1d4ed8;
  margin-left: 0px;
  margin-top: 20px;
}

.ag-format-container {
  width: 1350px;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 30px;
}

.ag-courses_item img {
  width: 40px;
  height: 40px;
  margin-left: 8px;
}
.ag-courses-item_link {
  text-decoration: none;
  display: block;
  padding: 30px 20px;
  background-color: #1d4ed8;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #3fa099;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
}

.mainfunction {
  text-align: center;
}
